<div>
  <input class="form-control pull-left" style="width: 60%" type="text" name="productSearch"/>
  <span class="pull-right">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-product">Add Product</button>
    <app-modal modalId="add-product">
      <div class="modalHeading">Add Product</div>
      <div class="modalBody">
        <app-productcu [productNames]="productNames" (productChange)="whenProductChanged($event)"></app-productcu>
      </div>
    </app-modal>
  </span>
</div>
<div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
<div>
  <div *ngIf="products?.length > 0; else noProduct;">
    <table  class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let p of products; index as i">
        <td>{{p.name}}</td>
        <td>
          <a data-toggle="modal" href="#edit-product{{i}}"><i class="glyphicon glyphicon-edit"></i></a>
          <app-modal modalId="edit-product{{i}}">
            <div class="modalHeading">Edit Product</div>
            <div class="modalBody">
              <app-productcu [productNames]="productNames"
                             [editProduct]="p"
                             (productChange)="whenProductChanged($event)">
              </app-productcu>
            </div>
          </app-modal>
        </td>
        <td><a><i class="glyphicon glyphicon-remove" style="cursor:pointer;" (click)="onDelete(p)"></i></a></td>
      </tr>
    </table>
  </div>
  <ng-template #noProduct>No Product Found</ng-template>
</div>


